/* ///// MEDIA QUERIES ////// */

 @media only screen and (max-width: 1360px){
    
    /* ======== intro ========== */
    .description img { 
        max-width: 500px;
    }

    .circle { 
        width: 75%;
        height: 93%; 
        top: 15; left: 25%; 
    }

    .description { 
        margin-top: 10px;
    }

    .description .content {
        max-width: 550px;
    }

    .description .content .title-intro {
        width: 90%;
        height: auto;
        font-size: 50px;
    }

    .description .content p {
        max-width: 400px;
        color:rgb(138, 135, 135);
        word-wrap: break-word;
        margin-bottom: 20px;
        line-height: 30px;
    }
 }

 @media only screen and (max-width: 1250px){
    
    /* ====== intro ===== */
    .circle { 
        width: 50%;
        left: 50%;
    }

    .description .content {
        max-width: 450px;
    }

    .description img { 
        max-width: 450px;
    }

    .description .content .title-intro { 
        font-size: 40px;
    }

    .description .content p {
        font-size: 13px;
        line-height: 25px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 1075px) {
    .circle { 
        width: 40%;
        left: 60%;
        top: 3%;
        right: 10%;
        clip-path: circle(60% at right 55%);
    }

    .circle-container { 
        width: 355px;
    }

    .description .content {
        max-width: 400px;
    }

    .description img { 
        max-width: 420px;
        top: 23px;
        left: 10px;
    }

    .description .content .title-intro { 
        font-size: 37px;
    }

    .description .content p {
        font-size: 12px;
        line-height: 25px;
        margin-bottom: 30px;
    }

    .features-container {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media only screen and (max-width: 917px) {
    
    /* intro section */
    section {
        width: 100%;
        padding: 0;
        margin: auto;
    }
    
    .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-top: 10%;
    }

    .description .content { 
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10%;
        max-width: 100%;
    }

    .description .circle-container img {
        top: -50px;
    }

    .description .content p {
        font-size: 15px;

    }
    
    .description .content .title-intro {
        margin: 0 auto 20px;
        font-size: 45px;
        max-width: 500px;
    }

    .circle { 
        width: 100%;
        left: 0;
        top: 52%;
        right: 10%;
        clip-path: circle(40% at center 2%);
    }

    /* feature section */
    .features-view {
        margin-top: 10%;
    }

    .features-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 694px){
    /* intro section */
    section {
        padding: 10px 0;
    }

    .description {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-content: center;
        margin-top: 10%;
    }
    
    .description .content p {
        font-size: 13px;
    }

    .description .circle-container img {
        max-width: 400px;
        top: -30px;
    }

    .features-view {
        margin-top: 20%;
    }

    /* features view */
    .features-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 8px;
        grid-auto-rows: minmax(150px, auto);

    }

    /* how to use section */
    .how-to-use { 
        text-align: center;
        display: block;
        margin-bottom: 50px;
        margin-top: 0;
    }
}
