@media only screen and (max-width: 1250px) {
    nav ul li {
        margin: 0 1.5rem;
    }
}

@media only screen and (max-width: 1075px) {
    nav ul li {
        margin: 0 1rem;
    }
}

@media only screen and (max-width: 822px) {
    nav ul {
        display: block;
    }

    nav ul li .home-cit {
        padding: 10px 40px;
    }

    nav ul li :not(.home-cit){
        display: none;
    }
    
}

@media only screen and (max-width: 694px) {
    nav {
      padding: 0 20px 0;
      margin: 0;
    }

    nav .logo {
        font-size: 30px;
    }
    
    .description .content .title-intro {
        font-size: 35px;
        max-width: 400px;
    }
    
    nav ul {
        margin: 10px 0 10px;
        display: block;
    }

    nav ul li {
        margin: 0;
    }

    nav ul li .home-cit {
        padding: 10px 30px;
        font-size: 13px;
    }
}